---
title: Pages
homePage: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="container">
		<ul class="z">
			<li><a href="main.html">Main page</a></li>
			<li><a href="search.html">Search page</a></li>
			<li><a href="search-new.html">New search page</a></li>
			<li><a href="search-advanced.html">Advanced search page</a></li>
			<li><a href="yacht.html">Yacht page</a></li>
			<li><a href="calendar.html">Calendar page</a></li>
			<li><a href="yacht-wiki.html">Yacht Wiki</a></li>
			<li><a href="contacts.html">Contacts</a></li>
			<li><a href="academy.html">Academy</a></li>
			<li><a href="404.html">404</a></li>
			<li><a href="regatta.html">Regatta</a></li>
			<li><a href="news-detail.html">News Detail</a></li>
			<li><a href="yacht-wiki-archive.html">Yacht Wiki Archive</a></li>
			<li><a href="news-page.html">News Page</a></li>
			<li><a href="news-page-archive.html">News Page Archive</a></li>
			<li><a href="event.html">Event</a></li>
			<li><a href="yacht-wiki-main.html">Yacht Wiki Main</a></li>
			<li><a href="yacht-wiki-main-archive.html">Yacht Wiki Main Archive</a></li>
			<li><a href="new-yacht-wiki-archive.html"> New Yacht Wiki Archive</a></li>
			<li><a href="popup-email.html"> Popup Email</a></li>
			<li><a href="popup-email-thnk.html"> Popup Email Thank</a></li>
			<li><a href="popup-acquiring-academy.html"> Popup Acquiring Academy</a></li>
			<li><a href="popup-acquiring-wiki.html"> Popup Acquiring Wiki</a></li>
			<li><a href="popup-acquiring-error.html"> Popup Acquiring Error</a></li>
		</ul>
	</div>


<style>
	.z a {
		font-size: 30px;
		color: #f6cb02
	}
</style>

{% endblock %}
