---
title: Popup Email
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="popup popup_email js-popup is-open" style='display: block;'>

	<button type="button" class="popup__close popup__close_email btn-close js-close-popup">
    <div class="popup__close-wrap">
      <p class="popup__close-text">Закрыть форму</p>
      <span class="popup__close-icon">{{mixins.icon('close')}}</span>
    </div>
  </button>

	<div class="popup__in js-popup-in">
    <div class="email">
      <h2 class="email__title">будем на связи?</h2>
      <div class="email__text">
        Оставь свой email и мы сообщим
        <br>
        о ближайших событиях FLEET5
      </div>
        <div class="email-interests">
          <h3 class="email-interests__title">Меня интересует:</h3>
          <div class="email-checkboxes">
            <div class="checkbox email-checkboxes__item">
              <label for="yacht-week" class='checkbox'>
                 <input type='checkbox' id='yacht-week' name='yacht-week'>
                 <div class="checkbox__block checkbox__block_bold"></div>
              </label>
	            <div class="checkbox__name">яхт-вики</div>
            </div>
            <div class="checkbox email-checkboxes__item">
              <label for="studying">
                 <input type='checkbox' id='studying' name='studying'>
                 <div class="checkbox__block checkbox__block_bold"></div>
              </label>
	            <div class="checkbox__name">обучение</div>
            </div>
            <div class="checkbox email-checkboxes__item">
              <label for="regatta">
                 <input type='checkbox' id='regatta' name='regatta'>
                 <div class="checkbox__block checkbox__block_bold"></div>
              </label>
	            <div class="checkbox__name">регаты</div>
            </div>
            <div class="checkbox email-checkboxes__item">
              <label for="lease">
                 <input type='checkbox' id='lease' name='lease'>
                 <div class="checkbox__block checkbox__block_bold"></div>
              </label>
	            <div class="checkbox__name">аренда яхт</div>
            </div>
            <div class="checkbox email-checkboxes__item">
              <label for="buy">
                 <input type='checkbox' id='buy' name='buy'>
                 <div class="checkbox__block checkbox__block_bold"></div>
              </label>
	            <div class="checkbox__name">покупка яхт</div>
            </div>
          </div>

        </div>
        <form action="" class="email-input"> <!-- добавить класс error сюда -->
          <input type='text' name='email' placeholder='Укажите здесь свой email' class='email-input__input'>
          <button type='submit' class='button button_sm button_white email-input__btn'>
						<span>на связи!</span>
						<div class='loader-wrap'>
							<div class="loader"></div>
						</div>
					</button>
        </form>


    </div>

		<p class="email-delay-text">
		 Ой, что-то пошло не так и мы не можем записать ваши контаткы сейчас.<br>Покажем вам форму позже.
		</p>

	</div>

</div>


{% endblock %}
