---
title: Popup Acquiring Wiki
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="popup popup_acquiring popup_email js-popup is-open" style='display: block;'>

	<button type="button" class="popup__close popup__close_email btn-close js-close-popup">
    <div class="popup__close-wrap">
      <p class="popup__close-text">Закрыть форму</p>
      <span class="popup__close-icon">{{mixins.icon('close')}}</span>
    </div>
  </button>

	<div class="popup__in js-popup-in">
    <div class="acquiring">
			<div class="acquiring__body">
				<div class="acquiring__field acquiring__field_yellow">
					<h2 class="acquiring__title acquiring__title_center">яхтвик</h2>
					<!-- <h3 class="acquiring__title acquiring__title_s acquiring__title_black">
						Для оплаты онлайн заполните обязательные поля
						<span>*</span>
					</h3> -->
					<div class="acquiring__input-col">
						<label for="name" class="acquiring__label">Как Вас зовут?<span>*</span></label>
						<input type='text' id='name' placeholder='Имя Фамилия' class="acquiring__input"> <!--add class error-->
					</div>
					<div class="acquiring__input-col">
						<label for="email" class="acquiring__label">Email<span>*</span></label>
						<input type='text' id='email' placeholder='name@mail.com' class="acquiring__input">
					</div>
				</div>
				<div class="acquiring__field acquiring__field_pic-bg">
					<div class="acquiring__input-col">
						<h3 for="select" class="acquiring__label acquiring__label_white">Выбранный продукт:<span>*</span></h3>
						<!--<p class="acquiring__chosen">CANARY YACHTWEEK 25.11 — 02.12 2017 - 490€</p>-->
						<div class="acquiring__select acquiring__select_chosen js-select-field">
							<select name="" id="" class="js-select-single" disabled>
								<option value="" selected>
									Цена вниз
								</option>
								<option value="">
									Цена вниз
								</option>
							</select>

						</div> <!--add class error -->

					</div>
					<div class="acquiring__input-col">
						<label for="spinner" class="acquiring__label acquiring__label_white">Укажите количество людей:<span>*</span></label>
						<div class="quantity js-spinner"> <!--add class error-->
							<input name='spinner' type="number" min="1" max="40" step="1" value="1">
						</div>
					</div>
					<div class="acquiring__input-col">
						<label for="comment" class="acquiring__label acquiring__label_white">Комментарий:</label>
						<textarea name="comment" placeholder='Не обязательное поле' rows='4' class="acquiring__input acquiring__input_textarea"></textarea>
					</div>
					<div class="acquiring__bottom-wrap">
						<h3 class="acquiring__title acquiring__title_m acquiring__title_yellow">Сумма к оплате:</h3>
						<div class="acquiring__title acquiring__title_m acquiring__title_yellow">
							<!-- <span class="empty"></span> -->
							<span class="filled">100.000</span>
							<span> грн</span>
						</div>
						<a href="#" class="button button_white acquiring__btn">оплатить на Fondy.ua <span class='icon'></span></a>
					</div>
				</div>


			</div>

    </div>

	</div>

</div>


{% endblock %}
