---
title: Popup Acquiring`
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="popup popup_acquiring popup_email js-popup is-open" style='display: block;'>

	<button type="button" class="popup__close popup__close_email btn-close js-close-popup">
    <div class="popup__close-wrap">
      <p class="popup__close-text">Закрыть форму</p>
      <span class="popup__close-icon">{{mixins.icon('close')}}</span>
    </div>
  </button>

	<div class="popup__in js-popup-in">
    <div class="acquiring">
			<div class="acquiring__body">
				<div class="acquiring__field acquiring__field_yellow">
					<h2 class="acquiring__title acquiring__title_center">регаты</h2>
					<h3 class="acquiring__title acquiring__title_s acquiring__title_black">
						Для оплаты онлайн заполните обязательные поля
						<span>*</span>
					</h3>
					<div class="acquiring__input-col">
						<label for="name" class="acquiring__label">Как Вас зовут?<span>*</span></label>
						<input type='text' id='name' placeholder='Имя Фамилия' class="acquiring__input">
					</div>
					<div class="acquiring__input-col">
						<label for="email" class="acquiring__label">Email<span>*</span></label>
						<input type='text' id='email' placeholder='name@mail.com' class="acquiring__input">
					</div>
				</div>
				<div class="acquiring__field acquiring__field_pic-bg">
					<div class="acquiring__input-col">
						<label for="select" class="acquiring__label acquiring__label_white">Выберите регату:<span>*</span></label>
						<div class="acquiring__select js-select-field">
							<select name="select" class="js-select-single">
								<option value="Цена вниз">Цена вниз</option>
								<option value="Цена вверх">Цена вверх</option>
								<option value="Год выпуска вниз">Год выпуска вниз</option>
								<option value="Год выпуска вверх">Год выпуска вверх</option>
								<option value="Год выпуска вверх1">Год выпуска вверх1</option>
								<option value="Год выпуска вверх2">Год выпуска вверх2</option>
							</select>
						</div>
					</div>
					<div class="acquiring__input-col">
						<label for="spinner" class="acquiring__label acquiring__label_white">Укажите количество людей:<span>*</span></label>
						<div class="quantity js-spinner">
							<input name='spinner' type="number" min="1" max="40" step="1" value="1">
						</div>
					</div>
					<div class="acquiring__input-col">
						<label for="comment" class="acquiring__label acquiring__label_white">Комментарий:</label>
						<textarea name="comment" placeholder='Не обязательное поле' rows='4' class="acquiring__input acquiring__input_textarea"></textarea>
					</div>
					<div class="acquiring__bottom-wrap">
						<h3 class="acquiring__title acquiring__title_m acquiring__title_yellow">Сумма к оплате:</h3>
						<div class="acquiring__title acquiring__title_m acquiring__title_yellow">
							<span class="empty"></span>
							<span style='display: none;' class="filled">100.000</span>
							<span> грн</span>
						</div>
						<a href="#" class="button button_white acquiring__btn">оплатить на Fondy.ua <span class='icon'></span></a>
					</div>
				</div>


			</div>

    </div>

	</div>

</div>


{% endblock %}
