<div class="page-404">
  <p class="page-404__text">Похоже, страница затерялась в мировом океане</p>
  <div class="page-404__content">
    <div class="page-404__pic"></div>
    <div class="page-404__socials">
      <a href='#' class="page-404__socials-item">
        {{mixins.icon('yt')}}
      </a>
      <a href='#' class="page-404__socials-item">
        {{mixins.icon('fb')}}
      </a>
      <a href='#' class="page-404__socials-item">
        {{mixins.icon('insta')}}
      </a>
    </div>
    <div class="page-404__btn-container">
      <a href="#" class="button button_yellow button_lg">Записаться</a>
      <a href="#" class="button button_lg button_dark">Календарь</a>
    </div>
  </div>
</div>
