{% set tabs = ['лицензия', 'теоретический курс', 'практический курс', 'инструкторы', 'классы обучения', 'фмк', 'записаться']%}

<div class="ac">

	<div class="ac__nav">

		<div class="nav js-nav swiper-container">

			<div class="nav__list swiper-wrapper">
				{% for tab in tabs %}
					<div class="nav__slide swiper-slide">
						<div class="nav__item">{{tab}}</div>
					</div>
				{% endfor %}

			</div>
			<div class="nav__line js-nav-line"></div>
		</div>
	</div>

	<div class="ac__body">
		<div class="swiper-container js-content">
			<div class="ac__content swiper-wrapper ">

				<div class="swiper-slide">
          <div class="ac-license">
            <div class="ac-license__content">
              <div class="ac-license__text">
								<div class="ac-license__main-title">Обучение яхтингу в академии Fleet5</div>
              	<div class="ac-license__title">
									ЛИЦЕНЗИЯ <br> IYT
								</div>
								<ul class="ac-license__list">
									<li class="ac-license__list-item">
										<div class="ac-license__list-icon" style='background-image: url(img/academy/license-ico-1.png)'></div>
										Академия Fleet5 аккредитована по системе IYT и выдает сертификаты международного образца по 4-м специальностям.
									<li>
									<li class="ac-license__list-item">
										<div class="ac-license__list-icon" style='background-image: url(img/academy/license-ico-2.png)'></div>
										IYT – ведущая мировая ассоциация по обучению яхтингу и подготовке яхтсменов.
									</li>
									<li class="ac-license__list-item">
										<div class="ac-license__list-icon" style='background-image: url(img/academy/license-ico-3.png)'></div>
										В чем преимущества такого сертификата? Диплом IYT дает право управлять парусными и моторными суднами длиной до 24 метров в 62 странах мира.
									</li>
									<li class="ac-license__list-item">
										<div class="ac-license__list-icon" style='background-image: url(img/academy/license-ico-4.png)'></div>
										Наша уникальная, дополненная программа обучения одобрена морскими.
									</li>
								</ul>
              </div>
							<div class="ac-course__btn-container">
								<a href="#" class="button button_yellow button_lg js-open-popup" data-open="academy">Записаться</a>
								<a href="#" class="button button_dark button_lg ">Календарь</a>
							</div>
            </div>
          </div>
				</div>

				<div class="swiper-slide">
          <div class="ac-course">
            <div class="ac-course__descr" style='background-image: url(img/academy/teor-bg.jpg);'>
              <div class="ac-course__item">
                <div class="ac-course__date">23.01</div>
                <div class="ac-course__title">Старт курса</div>
              </div>
              <div class="ac-course__item">
                <div class="ac-course__icon ac-course__icon_lessons"></div>
                <div class="ac-course__title">15 занятий по 3 часа</div>
              </div>
              <div class="ac-course__item">
                <div class="ac-course__icon ac-course__icon_book"></div>
                <div class="ac-course__title">Курс теории 6900 грн</div>
              </div>
            </div>
            <div class="ac-course__video" style='background-image: url(img/academy/teor-video-bg.jpg);'>
              <div class="yw__video-btn">
								<span>Посмотрите видео</span>
							</div>
            </div>
            <div class="ac-course__benefits">
              <div class="ac-course__benefit">
                <div class="ac-course__benefit-icon ac-course__benefit-icon_programm"></div>
                <div class="ac-course__benefit-title">Усиленная программа обучения</div>
              </div>
              <div class="ac-course__benefit">
                <div class="ac-course__benefit-icon ac-course__benefit-icon_books"></div>
                <div class="ac-course__benefit-title">Авторские учебные материалы</div>
              </div>
              <div class="ac-course__benefit">
                <div class="ac-course__benefit-icon ac-course__benefit-icon_radio"></div>
                <div class="ac-course__benefit-title">Радиоупра-вляемая яхта для тренировок</div>
              </div>
              <div class="ac-course__benefit">
                <div class="ac-course__benefit-icon ac-course__benefit-icon_online"></div>
                <div class="ac-course__benefit-title">Доступ<br> к онлайн<br> библиотеке</div>
              </div>
            </div>
						<div class="ac-course__btn-container">
							<a href="#" class="button button_yellow button_lg js-open-popup" data-open="academy">Записаться</a>
							<a href="#" class="button button_lg ">Календарь</a>
						</div>
          </div>
				</div>

				<div class="swiper-slide">
					<div class="ac-course">
            <div class="ac-course__descr" style='background-image: url(img/academy/practic-bg.jpg);'>
              <div class="ac-course__item">
                <div class="ac-course__icon ac-course__icon_students"></div>
                <div class="ac-course__title">80% учеников <br>готовы к одиночному плаванию</div>
								<div class="ac-course__subtitle">Индивидуальный подход к каждому ученику</div>
              </div>
              <div class="ac-course__item">
                <div class="ac-course__icon ac-course__icon_sea"></div>
                <div class="ac-course__title">2 недели практики <br>в море</div>
								<div class="ac-course__subtitle">Ближайшая дата отмечена в календаре</div>
              </div>
              <div class="ac-course__item">
                <div class="ac-course__icon ac-course__icon_wind"></div>
                <div class="ac-course__title">Обучение в разных <br>условиях</div>
								<div class="ac-course__subtitle">На воде и на суше, утром, днем и вечером</div>
              </div>
            </div>
            <div class="ac-course__video" style='background-image: url(img/academy/practic-video-bg.jpg);'>
              <div class="yw__video-btn">
								<span>Посмотрите видео</span>
							</div>
            </div>
						<div class="ac-course__btn-container">
							<a href="#" class="button button_yellow button_lg js-open-popup" data-open="academy">Записаться</a>
							<a href="#" class="button button_lg ">Календарь</a>
						</div>
          </div>
				</div>

				<div class="swiper-slide">
					<div class="instructors js-instructors-slider">

						<div class="instructor">
							<div class="instructor__pic" style='background-image: url(img/academy/instructor-1.jpg);'></div>
							<div class="instructor__names">
								<span class="instructor__name-left"></span>
								<span class="instructor__name-right">Андрей Иванов2</span>
							</div>
							<div class="instructor__content">
								<div class="instructor__title">Андрей Иванов1</div>
								<div class="instructor__subtitle">Прошел Атлантический океан в 2 стороны</div>
								<div class="instructor__info">
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-1.png);'>
										<span class="instructor__info-val">40 000</span>
										<span class="instructor__info-title">Пройдено миль</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-2.png);'>
										<span class="instructor__info-val">15 000</span>
										<span class="instructor__info-title">Часов обучения</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-3.png);'>
										<span class="instructor__info-val">200</span>
										<span class="instructor__info-title">Выпущено шкиперов</span>
									</div>
								</div>
							</div>
						</div>
						<div class="instructor">
							<div class="instructor__pic" style='background-image: url(img/academy/instructor-1.jpg);'></div>
							<div class="instructor__names">
								<span class="instructor__name-left">Андрей Иванов1</span>
								<span class="instructor__name-right">Андрей Иванов3</span>
							</div>
							<div class="instructor__content">
								<div class="instructor__title">Андрей Иванов2</div>
								<div class="instructor__subtitle">Прошел Атлантический океан в 2 стороны</div>
								<div class="instructor__info">
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-1.png);'>
										<span class="instructor__info-val">40 000</span>
										<span class="instructor__info-title">Пройдено миль</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-2.png);'>
										<span class="instructor__info-val">15 000</span>
										<span class="instructor__info-title">Часов обучения</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-3.png);'>
										<span class="instructor__info-val">200</span>
										<span class="instructor__info-title">Выпущено шкиперов</span>
									</div>
								</div>
							</div>
						</div>
						<div class="instructor">
							<div class="instructor__pic" style='background-image: url(img/academy/instructor-1.jpg);'></div>
							<div class="instructor__names">
								<span class="instructor__name-left">Андрей Иванов2</span>
								<span class="instructor__name-right">Андрей Иванов4</span>
							</div>
							<div class="instructor__content">
								<div class="instructor__title">Андрей Иванов3</div>
								<div class="instructor__subtitle">Прошел Атлантический океан в 2 стороны</div>
								<div class="instructor__info">
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-1.png);'>
										<span class="instructor__info-val">40 000</span>
										<span class="instructor__info-title">Пройдено миль</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-2.png);'>
										<span class="instructor__info-val">15 000</span>
										<span class="instructor__info-title">Часов обучения</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-3.png);'>
										<span class="instructor__info-val">200</span>
										<span class="instructor__info-title">Выпущено шкиперов</span>
									</div>
								</div>
							</div>
						</div>
						<div class="instructor">
							<div class="instructor__pic" style='background-image: url(img/academy/instructor-1.jpg);'></div>
							<div class="instructor__names">
								<span class="instructor__name-left">Андрей Иванов3</span>
								<span class="instructor__name-right"></span>
							</div>
							<div class="instructor__content">
								<div class="instructor__title">Андрей Иванов4</div>
								<div class="instructor__subtitle">Прошел Атлантический океан в 2 стороны</div>
								<div class="instructor__info">
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-1.png);'>
										<span class="instructor__info-val">40 000</span>
										<span class="instructor__info-title">Пройдено миль</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-2.png);'>
										<span class="instructor__info-val">15 000</span>
										<span class="instructor__info-title">Часов обучения</span>
									</div>
									<div class="instructor__info-item" style='background-image: url(img/academy/instructor-1-3.png);'>
										<span class="instructor__info-val">200</span>
										<span class="instructor__info-title">Выпущено шкиперов</span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="instructor__slider-btn">
						<button type="button" class="instructor__slider-btn-left">{{mixins.icon('arrow-left')}}</button>
						<button type="button" class="instructor__slider-btn-right">{{mixins.icon('arrow-left')}}</button>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="gallery-container">
						<div class="gallery">
							<div style='background-image: url(img/academy/gallery-1.jpg);'></div>
							<div style='background-image: url(img/academy/gallery-1.jpg);'></div>
							<div style='background-image: url(img/academy/gallery-1.jpg);'></div>
						</div>
						<div class="gallery__slider-btn">
							<button type="button" class="gallery__slider-btn-left">{{mixins.icon('arrow-left')}}</button>
							<button type="button" class="gallery__slider-btn-right">{{mixins.icon('arrow-left')}}</button>
						</div>
					</div>

				</div>

				<div class="swiper-slide">
					<div class="fmk">
						<div class="fmk__descr">
              <div class="fmk__item">
                <div class="fmk__icon fmk__icon_boat"></div>
                <div class="fmk__title">Выбор лодки</div>
              </div>
              <div class="fmk__item">
                <div class="fmk__icon fmk__icon_compass"></div>
                <div class="fmk__title">Первый опыт под руководством инструктора</div>
              </div>
              <div class="fmk__item">
                <div class="fmk__icon fmk__icon_hand"></div>
                <div class="fmk__title">Полностью твоя лодка. <br>Твое пространство</div>
              </div>
            </div>
            <div class="fmk__video" style='background-image: url(img/academy/fmk-video-bg.jpg);'>
              <div class="yw__video-btn">
								<span>Посмотрите видео</span>
							</div>
            </div>
						<div class="fmk__benefit">Наши выпускники готовы к одиночному плаванью, но хотят, чтобы первый опыт прошел под наблюдение инструктора. Специально для них мы подготовили отдельный продукт - флотилию молодых капитанов. </div>
						<div class="fmk__bottom">
							<span>ФМК - полный ассист твоего первого путешествия!</span>
							<div class="fmk__btn-container">
								<a href="#" class="button button_yellow button_lg js-open-popup" data-open="academy">Записаться</a>
								<a href="#" class="button button_dark button_lg ">Календарь</a>
							</div>
						</div>
					</div>
				</div>

				<div class="swiper-slide">
					<div class="ac-form">
						<form action="">

							<div class="form__field">
								<div class="input input_lg input_op">
									<input id="formName" type="text" class="input__main" placeholder="ФИО">
									<label class="input__label" for="formName">Имя и фамилия</label>
								</div>
							</div>

							<div class="form__field">
								<div class="input input_lg input_op">
									<input id="formPhone" type="tel" class="input__main js-phone" placeholder="(0--) --- -- --">
									<label class="input__label" for="formPhone">Телефон</label>
								</div>
							</div>

							<div class="form__field">
								<div class="input input_lg input_op">
									<input id="formEmail" type="email" class="input__main" placeholder="name@mail.com">
									<label class="input__label" for="formEmail">Email</label>
								</div>
							</div>

							<div class="form__field">
								<div class="input input_lg input_op js-select-field input-academy_dropdown">
			            <select name="" id="" class="js-select-single">
			              <option>Не определился</option>
			              <option>25.02 (по субботам)</option>
			              <option>28.02 (по вторникам и четвергам)</option>
			              <option>6.03 (по понедельникам и средам)</option>
			            </select>
			            <label for="" class="input__label">Старт ближайшего курса</label>
			            <div class="input__descr">
			              <span>Занятия проводятся по таким дням:</span>
			              <ol>
			                <li>1. Понедельник-среда</li>
			                <li>2. Вторник-четверг</li>
			                <li>3. Суббота (занятие длится _ часов)</li>
			              </ol>
			            </div>
								</div>
							</div>

							<div class="form__field form__field_center">
								<button type="button" class="button button_lg js-thnk">Записаться</button>
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>


	</div>


</div>
