<div class="contacts-page">
  <div class="contacts-page__pic"></div>
  <div class="contacts-page__contacts">
    <p class="contacts-page__title">Контакты</p>
    <div class="contacts-page__item">
      <p class="contacts-page__item-title">Адрес</p>
      <p class="contacts-page__item-text">г. Киев, ул. Льва Толстого 35-39, <br>терраса Fleet5</p>
    </div>
    <div class="contacts-page__item">
      <p class="contacts-page__item-title">Email</p>
      <p class="contacts-page__item-text">info@fleet5.com</p>
    </div>
    <div class="contacts-page__item">
      <p class="contacts-page__item-title">Телефон</p>
      <p class="contacts-page__item-text">044 337 15 35</p>
    </div>
    <a href="#" class="button button_lg button_tr-white button_contacts-page js-open-popup" data-open='feedback'>Написать нам</a>
  </div>
  <div class="contacts-page__map"></div>
  <div class="contacts-page__socials">
    <a href='#' class="contacts-page__socials-item">
      {{mixins.icon('yt')}}
    </a>
    <a href='#' class="contacts-page__socials-item">
      {{mixins.icon('fb')}}
    </a>
    <a href='#' class="contacts-page__socials-item">
      {{mixins.icon('insta')}}
    </a>
  </div>
</div>
