<div class="filter">
	<div class="filter__left">
		<a href="#" class="filter__type js-type is-active" data-type="card">{{mixins.icon('card')}}</a>
		<a href="#" class="filter__type js-type " data-type="list">{{mixins.icon('list')}}</a>
	</div>
	<div class="filter__right">
		<div class="filter__select">
			<select name="" id="" class="js-select">
				<option value="1">Цена вниз</option>
				<option value="2">Цена вверх</option>
				<option value="3">Год выпуска вниз</option>
				<option value="4">Год выпуска вверх</option>
			</select>
		</div>
	</div>
</div>