{% set items = [
{
	title: 'Riva Duchessa',
	img: 'item-1.jpg',
	data: ['Длина: 26 м', 'Каюты: 4 + 1', 'Спальных мест: 8 + 2']
},
{
title: 'Riva Duchessa',
img: 'item-2.jpg',
data: ['Длина: 26 м', 'Каюты: 4 + 1', 'Спальных мест: 8 + 2']
},
{
title: 'Riva Duchessa',
img: 'item-1.jpg',
data: ['Длина: 26 м', 'Каюты: 4 + 1', 'Спальных мест: 8 + 2']
},
{
title: 'Riva Duchessa',
img: 'item-2.jpg',
data: ['Длина: 26 м', 'Каюты: 4 + 1', 'Спальных мест: 8 + 2']
},
{
title: 'Riva Duchessa',
img: 'item-1.jpg',
data: ['Длина: 26 м', 'Каюты: 4 + 1', 'Спальных мест: 8 + 2']
}
] %}

<div class="items">
	{% for item in items %}
		<a href="#" class="item js-item">
			<div class="item__img" style="background-image: url('img/{{item.img}}')"></div>
			<div class="item__body">
				<div class="item__title">{{item.title}}</div>
				<div class="item__info">
					<ul class="item__data">
						{% for information in item.data %}
							<li>{{information}}</li>
						{% endfor %}
					</ul>
					<div class="item__price">20 000 <span>грн / день</span></div>
				</div>
			</div>
		</a>

	{% endfor %}
</div>
<div class="yacht__preloader-container">
	<div class="yacht__preloader">
		<div class="yacht__preloader-icon">
			<svg xmlns="http://www.w3.org/2000/svg" id="searchAnimated" data-name="Layer 1" viewBox="0 0 257.52 253.8">
				<defs>
					<style>
						.cls-1,.cls-2{fill:none;stroke-miterlimit:10;}.cls-1{stroke:#000;stroke-width:7px;}.cls-2{stroke:#fff;stroke-width:20px;
						}
					</style>
				</defs>
				<path d="M257.52 248.2l-81.4-81.5a100.5 100.5 0 1 0-5.5 5.8l81.3 81.3zm-156.6-53.1a93.6 93.6 0 1 1 93.6-93.6 93.6 93.6 0 0 1-93.6 93.6z"/>
				<circle cx="100.92" cy="101.5" r="78.44" class="cls-1"/>
				<path id="search-anim" d="M23.07 91.8a78.37 78.37 0 1 0 66-67.82" class="cls-2">
					<animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 100 100" to="360 100 100" dur="2s" repeatCount="indefinite"/>
				</path>
			</svg>
		</div>
		<div class="yacht__preloader-text">поиск результатов</div>
	</div>
	<div class="yacht__preloader yacht__preloader_res-no">
		<div class="yacht__preloader-icon">
			<svg xmlns="http://www.w3.org/2000/svg"  data-name="Layer 1" viewBox="0 0 257.52 253.8">
				<defs>
					<style>
						.cls-1,.cls-2{fill:none;stroke-miterlimit:10;}.cls-1{stroke:#000;stroke-width:7px;}.cls-2{stroke:#fff;stroke-width:20px;
						}
					</style>
				</defs>
				<path d="M257.52 248.2l-81.4-81.5a100.5 100.5 0 1 0-5.5 5.8l81.3 81.3zm-156.6-53.1a93.6 93.6 0 1 1 93.6-93.6 93.6 93.6 0 0 1-93.6 93.6z"/>
				<circle cx="100.92" cy="101.5" r="78.44" class="cls-1"/>
				<path id="search-anim" d="M23.07 91.8a78.37 78.37 0 1 0 66-67.82" class="cls-2">
				</path>
			</svg>
		</div>
		<div class="yacht__preloader-text">
			поиск результатов<span>попробуйте изменить параметры поиска</span></div>
	</div>
</div>
