<div class="np-header">
  <div class="np-header__controlls">
      <label class="checkbox np-header__checkbox np-header__checkbox_news">
        <input type="checkbox">
        <span class="checkbox__block"></span>
        <span>Новости</span>
      </label>
      <label class="checkbox np-header__checkbox np-header__checkbox_event">
        <input type="checkbox">
        <span class="checkbox__block"></span>
        <span>События</span>
      </label>
  </div>
  <div class="np-header__btn-container">
    <a href="#" class="button button_sm ">Архив новостей</a>
  </div>
</div>
<div class="np-content">
  <div class="np-item np-item_news" style='background-image: url(img/news/news-bg.jpg);'>
    <div class="np-item__content">
      <div class="np-item__title">Где отдыхать на яхте <br>зимой</div>
      <div class="np-item__date">ноябрь 8, 2016</div>
    </div>
  </div>
  <div class="np-item np-item_event" style='background-image: url(img/news/news-bg.jpg);'>
    <div class="np-item__content">
      <div class="np-item__title">Где отдыхать на яхте <br>зимой</div>
      <div class="np-item__date">ноябрь 8, 2016</div>
    </div>
  </div>
  <div class="np-item np-item_event" style='background-image: url(img/news/news-bg.jpg);'>
    <div class="np-item__content">
      <div class="np-item__title">Где отдыхать на яхте <br>зимой</div>
      <div class="np-item__date">ноябрь 8, 2016</div>
    </div>
  </div>
  <div class="np-item np-item_event" style='background-image: url(img/news/news-bg.jpg);'>
    <div class="np-item__content">
      <div class="np-item__title">Где отдыхать на яхте <br>зимой</div>
      <div class="np-item__date">ноябрь 8, 2016</div>
    </div>
  </div>
  <div class="np-item np-item_event" style='background-image: url(img/news/news-bg.jpg);'>
    <div class="np-item__content">
      <div class="np-item__title">Где отдыхать на яхте <br>зимой</div>
      <div class="np-item__date">ноябрь 8, 2016</div>
    </div>
  </div>
</div>
