<div class="detail-page">
  <div class="detail-page__slider js-detail-page-slider">
    <div style="background-image: url(img/news-detail/news-det-1.jpg);"></div>
    <div style="background-image: url(img/news-detail/news-det-1.jpg);"></div>
    <div style="background-image: url(img/news-detail/news-det-1.jpg);"></div>
    <div style="background-image: url(img/news-detail/news-det-1.jpg);"></div>
  </div>
  <div class="detail-page__info">
    <div class="detail-page__label">новость</div>
    <div class="detail-page__date">8 ноября 2016</div>
  </div>
  <div class="detail-page__content">
    <div class="detail-page__title">Где отдыхать на яхте зимой</div>
    <div class="detail-page__text">Cat ipsum dolor sit amet, hola te quiero. Destroy the blinds kitty scratches couch bad kitty mew sleep in the bathroom sink. Chase laser under the bed.<br>Eat grass, throw it back up immediately regret falling into bathtub. Lick the plastic bag sniff other cat's butt and hang jaw half open thereafter but present belly, scratch hand when stroked hide when guests come over, for my left donut is missing, as is my right yet lick yarn hanging out of own butt. Leave hair everywhere. Meow to be let in find empty spot in cupboard and sleep all day, cats go for world domination for give attitude, eat and than sleep on your face. Intrigued by the shower always hungry. Ignore the squirrels, you'll never catch them anyway.</div>
  </div>
  <div class="detail-page__btn-container">
    <a href="#" class="button button_yellow button_lg js-open-popup" data-open="registration">Записаться</a>
    <a href="#" class="button button_lg ">Календарь</a>
  </div>
  <div class="yw-socials yw-socials_yellow">
    <a href='#' class="yw-socials__socials-item">
      {{mixins.icon('yt_black')}}
    </a>
    <a href='#' class="yw-socials__socials-item">
      {{mixins.icon('fb_black')}}
    </a>
    <a href='#' class="yw-socials__socials-item">
      {{mixins.icon('inst_black')}}
    </a>
  </div>
</div>
