<div class="popup popup_form js-popup" data-popup="feedback">

	<button type="button" class="popup__close btn-close js-close-popup">{{mixins.icon('close')}}</button>

	<div class="popup__in popup__in_yellow js-popup-in">
		<div class="form">
			<form action="">

				<div class="form__field">
					<div class="input input_lg input_op">
						<input id="formName" type="text" class="input__main" placeholder="ФИО">
						<label class="input__label" for="formName">Имя и фамилия</label>
					</div>
				</div>

				<div class="form__field">
					<div class="input input_lg input_op">
						<input id="formPhone" type="tel" class="input__main" placeholder="(0--) --- -- --">
						<label class="input__label" for="formPhone">Телефон</label>
					</div>
				</div>

				<div class="form__field">
					<div class="input input_lg input_op">
						<input id="formEmail" type="email" class="input__main" placeholder="name@mail.com">
						<label class="input__label" for="formEmail">Email</label>
					</div>
				</div>

				<div class="form__field">
					<div class="input input_lg input_op">
						<textarea  class="input__main" placeholder="Напишите комментарий"></textarea>
					</div>
				</div>

				<div class="form__field form__field_center">
					<button type="submit" class="button button_lg">Отправить</button>
				</div>

			</form>
		</div>

	</div>

</div>
