{% set tabs = ['регион', 'тип яхты', 'даты оренды', 'поиск']%}

<div class="search">

	<div class="search__nav">

		<div class="nav js-nav swiper-container">

			<div class="nav__list swiper-wrapper">
				{% for tab in tabs %}
					<div class="nav__slide swiper-slide">
						<div class="nav__item">{{tab}}</div>
					</div>
				{% endfor %}

			</div>
			<div class="nav__line js-nav-line"></div>

		</div>


	</div>

	<form class="search__body">
		<div class="swiper-container js-content">
			<div class="search__content swiper-wrapper ">

				<div class="swiper-slide">
					{% include "./search/_regions.html" %}
				</div>

				<div class="swiper-slide">
					{% include "./search/_yacht-type.html" %}
				</div>

				<div class="search__vertical swiper-slide">
					{% include "./search/_dates.html" %}
				</div>

				<div class="search__vertical search__vertical_yellow swiper-slide">
					{% include "./search/_final.html" %}
				</div>

			</div>
		</div>


	</form>

	<a href="#" class="search__message message js-open-popup" data-open="feedback">{{mixins.icon('chat')}} <span>Не знаете что подобрать?</span></a>

</div>
