<div class="event-list event-list_act">
  <div class="event-list-item" style="background-image: url(img/yacht-wiki-main/yw-1.jpg);">
    <div class="event-list-item__title">
      <span style='color:#ec1c82; font-size: 3em;'>Buongiorno,</span>
      <span style='color:#fff; font-size: 5em; line-height: .5em;'>Italia!</span>
      <span style='color:#f6cb02; font-size: 3em;'>29.04 - 06.05</span>
      <span style='color:#004e9d; font-size: 4em; line-height: .5em;'>2017</span>
    </div>
    <a href="#" class="event-list-item__button button button_yellow button_lg">Перейти</a>
  </div>
  <div class="event-list-item" style="background-image: url(img/yacht-wiki-main/yw-1.jpg);">
    <div class="event-list-item__title">
      <span style='color:#ec1c82; font-size: 3em;'>Buongiorno,</span>
      <span style='color:#fff; font-size: 5em; line-height: .5em;'>Italia!</span>
      <span style='color:#f6cb02; font-size: 3em;'>29.04 - 06.05</span>
      <span style='color:#004e9d; font-size: 4em; line-height: .5em;'>2017</span>
    </div>
    <a href="#" class="event-list-item__button button button_yellow button_lg">Перейти</a>
  </div>
  <div class="event-list-item" style="background-image: url(img/yacht-wiki-main/yw-1.jpg);">
    <div class="event-list-item__title">
      <span style='color:#ec1c82; font-size: 3em;'>Buongiorno,</span>
      <span style='color:#fff; font-size: 5em; line-height: .5em;'>Italia!</span>
      <span style='color:#f6cb02; font-size: 3em;'>29.04 - 06.05</span>
      <span style='color:#004e9d; font-size: 4em; line-height: .5em;'>2017</span>
    </div>
    <a href="#" class="event-list-item__button button button_yellow button_lg">Перейти</a>
  </div>
  <div class="event-list__button event-list__button_bottom">
    <a href="#" class="button button_lg button_text-small">Предыдущие яхт-вики</a>
  </div>
</div>
