---
title: Pages
homePage: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="container">
		<ul class="z">
			<li><a href="main.html" target="_blank">Main page</a></li>
			<li><a href="search.html" target="_blank">Search page</a></li>
			<li><a href="search-advanced.html" target="_blank">Advanced search page</a></li>
			<li><a href="yacht.html" target="_blank">Yacht page</a></li>
			<li><a href="calendar.html" target="_blank">Calendar page</a></li>
			<li><a href="yacht-wiki.html" target="_blank">Yacht Wiki</a></li>
			<li><a href="contacts.html" target="_blank">Contacts</a></li>
		</ul>
	</div>


<style>
	.z a {
		font-size: 30px;
		color: #f6cb02
	}
</style>

{% endblock %}
