<div class="events">

	<div class="events__topline">
		{% include "../partials/_datepicker.html" %}
	</div>

	<div class="events__body">
		<div class="events__chapter">
			<div class="events__title events__title_yellow"><span>Академия</span></div>
			<div class="events__items">
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "средиземноморье с его курортами на яхте третья строка возможного текста...", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 10 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">Закрытие сезона</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 22 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">Закрытие сезона</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 10 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">Закрытие сезона</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
			</div>
		</div>
		<div class="events__chapter">
			<div class="events__title"><span>Яхт вики</span></div>
			<div class="events__items">
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event2.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 22 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">А мы на Канары...<br>Погнали с нами!</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 10 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">А мы на Канары...<br>Погнали с нами!</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 10 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">Закрытие сезона</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
			</div>
		</div>
		<div class="events__chapter">
			<div class="events__title events__title_dark"><span>Ивенты</span></div>
			<div class="events__items">
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 10 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">Средиземноморье с его курортами на яхте третья строка возможного текста...</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event2.jpg');">
					<div class="event__body">
						<div class="event__title">Средиземноморье с его курортами на яхте третья строка возможного текста...</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
				<div class="event js-open-popup-more" data-open="event" style="background-image: url('img/event1.jpg');" data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/event-info.jpg", "text": "Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br><strong>Время проведения: с 10 по 15 октября.</strong>", "link": "#"}'>
					<div class="event__body">
						<div class="event__title">Средиземноморье с его курортами на яхте третья строка возможного текста...</div>
						<div class="event__dates">10-15 окт. 2016</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>