<div class="popup popup_event js-popup-more" data-popup="event">

	<div class="popup__in js-popup-more-in">
		<button type="button" class="popup__close btn-close js-close-popup-more">{{mixins.icon('close')}}</button>

		<div class="event-info">
			<div class="event-info__img js-more-photo" style="background-image: url('img/event-info.jpg');"></div>
			<div class="event-info__body">
				<div class="event-info__entry">
					<div class="event-info__title js-more-title">средиземноморье с его курортами на яхте третья строка возможного текста...</div>
					<div class="event-info__text js-more-text">
						Поистине богемные и аристократические места, обоснованные творческой интеллигенцией с 19 века. <br>
						<strong>Время проведения: с 10 по 15 октября.</strong>
					</div>
				</div>

				<div class="event-info__btns">
					<a href="#" class="button js-more-link">Подробнее</a>
					<a href="#" class="button button_yellow js-open-popup" data-open="feedback">Записаться</a>
				</div>
			</div>
		</div>

	</div>

</div>