<div class="popup popup_calendar" data-calendar-popup>

	<button type="button" class="popup__close btn-close" data-close-calendar>{{mixins.icon('close')}}</button>

	<div class="popup__in">
		<div class="popup__title" data-calendar-title>Отплытие</div>
		<div class="calendar">
			<ul class="calendar__years">
				<li><a href="#" data-calendar-year data-value="2016">2016</a></li>
				<li><a href="#" data-calendar-year class="is-active" data-value="2017">2017</a></li>
				<li><a href="#" data-calendar-year data-value="2018">2018</a></li>
				<li><a href="#" data-calendar-year data-value="2019">2019</a></li>
				<li><a href="#" data-calendar-year data-value="2020">2020</a></li>
				<li><a href="#" data-calendar-year data-value="2021">2021</a></li>
			</ul>
			<div class="calendar__main" data-calendar></div>
			<div class="popup__button calendar__button">
				<button type="button" class="button button_lg" data-calendar-save>Сохранить</button>
			</div>
		</div>
	</div>

</div>