<div class="left-block">
	<div class="tab-img top-p">
		<img src="img/arrow-up.png" alt="">
	</div>
	<ul class="click-img-2">
		<li class="slider-child">БАЛТИЙСКОЕ МОРЕ</li>
		<li class="slider-child">ЕВРОПА-АТЛАНТИКА</li>
		<li class="slider-child">СРЕДИЗЕМНОЕ МОРЕ</li>
		<li class="slider-child active-2">ВСЕ РЕГИОНЫ</li>
		<li class="slider-child">АТЛАНТИЧЕСКИЙ ОКЕАН</li>
		<li class="slider-child">ТИХИЙ ОКЕАН</li>
		<li class="slider-child">ИНДИЙСКИЙ ОКЕАН</li>
		<li class="slider-child">США</li>
		<li class="slider-child">АЗИЯ</li>
		<li class="slider-child">КАРИБСКИЕ ОСТРОВА</li>
		<li class="slider-child">БАГАМСКИЕ ОСТРОВА</li>
		<li class="slider-child">ЦЕНТРАЛЬНАЯ И ЮЖНАЯ АМЕРИКА</li>
		<li class="slider-child">КУБА</li>
	</ul>
	<div class="tab-img bottom-p">
		<img src="img/arrow-down.png" alt="">
	</div>
</div>
