<div class="yacht-image-two top-2">
	<div class="par-2">
		<input type="checkbox" id='yacht1'>
		<label class="block-yacht mar-bottom" for='yacht1'>
			<div class="block-yacht__pic">
				<img class="block-yacht__img" src="img/sailing_yachts_white.svg" alt="">
				<img class="block-yacht__img block-yacht__img_checked" src="img/sailing_yachts.svg" alt="">
			</div>
			<p class="text-center  wids">Парусная яхта</p>
			<span class="mini"><img class="img-min" src="img/tick1.png" alt=""></span>
		</label>
		<input type="checkbox" id='yacht2'>
		<label class="block-yacht padding-1" for='yacht2'>
			<div class="block-yacht__pic">
				<img class="block-yacht__img " src="img/motor_yachts_white.svg" alt="">
				<img class="block-yacht__img block-yacht__img_checked" src="img/motor_yachts.svg" alt="">
			</div>
			<p class="text-center  wids">Моторная яхта</p>
			<span class="mini"><img class="img-min" src="img/tick1.png" alt=""></span>
		</label>
	</div>
	<div class="par-2">
		<input type="checkbox" id='yacht3'>
		<label class="block-yacht mar-bottom" for='yacht3'>
			<div class="block-yacht__pic">
				<img class="block-yacht__img " src="img/catamarans_white.svg" alt="">
				<img class="block-yacht__img block-yacht__img_checked" src="img/catamarans.svg" alt="">
			</div>
			<p class="text-center hei">Парусный катамаран</p>
			<span class="mini"><img class="img-min" src="img/tick1.png" alt=""></span>
		</label>
		<input type="checkbox" id='yacht4'>
		<label class="block-yacht padding-1 toppp" for='yacht4'>
			<div class="block-yacht__pic">
				<img class="block-yacht__img " src="img/mega_yachts_white.svg" alt="">
				<img class="block-yacht__img block-yacht__img_checked" src="img/mega_yachts.svg" alt="">
			</div>
			<p class="text-center hei bott">Супер-яхта</p>
			<span class="mini"><img class="img-min super" src="img/tick1.png" alt=""></span>
		</label>
	</div>
</div>
