<div class="yacht-image-two top-2">
	<div class="par-2">
		<div class="block-yacht mar-bottom">
			<img class="img-1 rel-po" src="img/yacht1.png" alt="">
			<p class="text-center  wids">Парусная яхта</p>
			<span class="mini"><img class="img-min" src="img/tick1.png" alt=""></span>
		</div>
		<div class="block-yacht padding-1">
			<img class="img-1" src="img/boat1.png" alt="">
			<p class="text-center  wids">Моторная яхта</p>
			<span class="mini"><img class="img-min" src="img/tick1.png" alt=""></span>
		</div>
	</div>
	<div class="par-2">
		<div class="block-yacht mar-bottom">
			<img class="img-1 rel-po" src="img/yacht2.png" alt="">
			<p class="text-center hei">Парусный катамаран</p>
			<span class="mini"><img class="img-min" src="img/tick1.png" alt=""></span>
		</div>
		<div class="block-yacht padding-1 toppp">
			<img class="img-1" src="img/boat2.png" alt="">
			<p class="text-center hei bott">Супер-яхта</p>
			<span class="mini"><img class="img-min super" src="img/tick1.png" alt=""></span>
		</div>
	</div>
</div>
