.icon-arrow-left-sm {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right-sm {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-sm {
  width: 1.86em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 1.32em;
  height: 1em;
  fill: #e2e2e2;
}
.icon-chat {
  width: 1.29em;
  height: 1em;
  fill: #000;
}
.icon-chat_1 {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-close-thin {
  width: 1em;
  height: 1em;
  fill: #010101;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-filmstrip {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1.37em;
  height: 1em;
  fill: #f6cb02;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-yt {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
