.acquiring
  height: 100%
  span
    color: #ff3333
  &__header
    background-color: rgba(0,0,0,0)
    display: flex
    align-items: center
    margin-left: -4px
  &__bottom-wrap
    margin-top: 15px
    text-align: center
    & > * + *
      margin-top: 10px
  &__title
    text-transform: uppercase
    font-size: 48px
    color: #fff
    +f-bold
    span.empty
      display: inline-block
      width: 70px
      height: 5px
      background-color: $primary
      margin-bottom: -5px
    &_center
      text-align: center
      line-height: .8
    &_s
      font-size: 15px
    &_m
      font-size: 20px
    &_ml
      font-size: 30px
    &_black
      color: #000
    &_yellow
      color: $primary
      span
        color: $primary
  &__field
    padding: 10px 13px 25px
    & > * + *
      margin-top: 25px
    &_yellow
      background-color: $primary
    &_pic-bg
      background-image: url(../img/acquire-bg.jpg)
      +cover
      padding-bottom: 50px
    &_high
      height: calc(100vh - 152px - 55px)
    &_center
      text-align: center
      padding: 25px 20px 50px
      & > * + *
        margin-top: 20px
    &_center-s
      text-align: center
      padding: 10px 20px 30px
      & > * + *
        margin-top: 25px
  &__input-col
    font-size: 20px
    +bold
  &__label
    display: block
    margin-bottom: 5px
    &_white
      color: #fff
    span
      margin-left: 10px
  &__chosen
    border: 1px solid #fff
    color: #fff
    font-size: 20px
    padding: 10px 13px
    margin-bottom: 10px
    +f-book
  &__input
    width: 100%
    padding: 10px 13px
    +bold
    font-size: 20px
    &::placeholder
      color: rgba(0,0,0, .5)
    &_textarea
      padding-bottom: 25px
      resize: none
      background-color: rgba(#fff, .5)
      border: none
      &::placeholder
        color: rgba(0,0,0, .8)
    &.error
      background: #ff6e6e
      &::placeholder
        color: #cc3333
  &__btn
    margin-top: 15px
  &__select
    &.error
      .ms-choice
        background: #ff6e6e
        & > span
          color: #cc3333
        & > div
          border-color: #cc3333 transparent transparent transparent
    .ms-drop
      padding: 0
      input
        display: none
      ul
        max-height: 195px !important
        & > li
          &.group
            +bold
            text-transform: uppercase
            text-decoration: underline
            font-weight: normal
          &:before,
          &:after
            content: none
          label
            padding: 10px 13px !important
            &:hover
              background-color: rgba($primary, .5)
            span
              color: #000
    .ms-choice
      & > span
        padding: 0 0 0 13px
        color: #000
    &_chosen
      .ms-parent
        border: 1px solid #fff
        padding: 10px 13px
        margin-bottom: 10px
      .ms-choice.disabled
        border: none
        background-color: rgba(0,0,0,0)
        height: auto
        line-height: 1.2
        span
          position: static
          color: #fff
          font-size: 20px
          text-transform: uppercase
          padding: 0
          +f-book
  &__tel
    display: block
    font-size: 42px
  &__error-logo
    background-image: url(../img/help.svg)
    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat
    width: 120px
    height: 120px
    margin-left: auto
    margin-right: auto
