.type
	position: relative
	display: flex
	align-items: center
	min-height: 120px
	margin: 7px 0
	background: #dbdbdb
	font-size: 24px
	line-height: 1.5
	+f-demi
	text-transform: uppercase
	+r(375)
		font-size: 20px
		height: 100px
		line-height: 100px
	&__checkbox
		position: relative
		padding: 0 60px 0 95px
		width: 100%
		+r(375)
			padding-left: 70px
	&__icon
		position: absolute
		font-size: 10px
		top: 50%
		left: 20px
		height: 6.5em
		width: 5em
		margin-top: -32px
		background: center / cover no-repeat
		transition: all .3s ease-in-out
		+r(375)
			left: 15px
			font-size: 8px
		&_hover
			opacity: 0

.types
	margin-bottom: 40px
